<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <AutoClicker.Properties.Settings>
            <setting name="clickamountsave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clickintervalsave" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="clicktypesave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="curfixedsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pointsave" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="clicktimessave" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startkey" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="stopkey" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="selectkey" serializeAs="String">
                <value>114</value>
            </setting>
        </AutoClicker.Properties.Settings>
    </userSettings>
</configuration>
